* {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
}

header,
footer {
  background-color: #4e4e4e;
  font-size: 20px;
  color: white;
}
footer {
  text-align: center;
  line-height: 3vh;
  height: 100%;
}
header {
  height: 40px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  font-size: 20px;
}

h3,
h4 {
  margin-bottom: 10px;
  margin-top: 10px;
}

p {
  font-size: 15px;
}
.nav-desk {
  display: none;
}

.section {
  margin: 0 auto;
  width: 960px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  height: 100%;
}

.hero {
  background-image: url("/images/mountain.jpg");
  background-size: cover;
  height: calc(100vh - 60px);
  color: white;
}
.hero-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  padding: 30px 30px;
  row-gap: 20px;
}
.overlay {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.about,
.offers,
.disabled,
.offer {
  color: white;
  text-decoration: none;
  padding: 20px 20px;
}

.offer {
  display: flex;
  height: 20px;
  width: 120px;
  font-size: 15px;
  border: 2px solid white;
  color: white;
  background-color: transparent;
  justify-content: center;
  align-items: center;
}
.offer:active {
  background-color: white;
  color: black;
}

.workers,
.services {
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
  row-gap: 20px;
}
.title {
  text-align: center;
}
.picture1,
.picture2 {
  display: block;
  aspect-ratio: 1;
  border-radius: 50%;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-image: url("/images/profile1.jpg");
  background-size: 100%;
}
.picture2 {
  background-image: url("/images/profile2.jpg");
}

.services {
  background-color: #445c5b;
  color: white;
}
.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.box {
  position: relative;
  display: flex;
  font-size: 20px;
  height: 300px;
  width: 300px;
  background-color: white;
  margin: 20px;
  color: black;
  justify-content: center;
  align-items: center;
}
.circle {
  position: absolute;
  background-color: orange;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 0;
  left: 0;
  margin: -10px 0 0 -10px;
}
.box:active {
  animation-name: scale;
  animation-duration: 0.5s;
  transform: scale(1.05);
}

.fa-brands {
  margin-right: 20px;
}

.footer {
  text-align: center;
}

/*******DESKTOP******/

@media (min-width: 680px) {
  header {
    height: 80px;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 30px;
  }

  h1 {
    text-align: start;
  }
  p {
    font-size: 20px;
  }
  .logo {
    font-size: 25px;
  }
  .offer {
    width: 150px;
    height: 50px;
  }
  footer {
    display: flex;
    justify-content: space-between;
  }
  .nav-desk,
  .mod {
    display: flex;
  }
  .disabled {
    cursor: not-allowed;
  }

  .mod1,
  .mod2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    padding: 30px;
  }
  .mod2 {
    text-align: right;
  }

  .mod:nth-of-type(even) {
    flex-direction: row-reverse;
  }
  .picture1,
  .picture2 {
    margin: 0%;
    height: 300px;
    width: 300px;
  }

  .box-container {
    display: flex;
    flex-flow: wrap;
  }
  .footer,
  .icons {
    padding: 30px 30px;
  }
}

.box:hover {
  animation-name: scale;
  animation-duration: 0.5s;
  transform: scale(1.05);
}
